
#clockContainer{  
    position: relative;
    margin: auto;
    height: 25vw;
    width: 25vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
    background-color: rgba(20, 14, 14, 0.827);
    border-radius: 50%;
    max-width: 90vh;
}
#hour, #minute, #second{
    position: absolute;
    background: rgb(251, 251, 251);
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.9%;
    height: 25%;
    top: 24.8%;
    left: 49%;
    opacity: 0.8;  
}
#minute{
    width: 1.4%;
    height: 30.4%;
    top: 19.5%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 0.8; 
}

.number {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: rgb(27, 172, 99);
    z-index: 4;
  }
  
  .three {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  
  .six {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  
  .nine {
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  }
  
  .twelve {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  